<li>
  <div class="header">
    <img src="{{rm_favicon}}" alt="favicon" />
    [<a href="#" class="statechange" id="done-{{_id}}"
        title="done">
      <img src="../../img/done.png" alt="done" title="done" /></a>
    <a href="#" class="statechange" id="important-{{_id}}"
       title="important">
      <img src="../../img/important.png" alt="important"
           title="important" /></a>]
    <span class="name">{{author}}</span>
    - <a href="{{link}}" class="title">{{title}}</a>
  </div>
  <div id="message">{{{summary}}}</div>
  <div style="clear:left;"></div>
</li>
