/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

h1 {
  margin-top:0;
}

#items {
  padding:8px;
  width:60%;
  float:left;
}

#sidebar {
  border:2px solid #eee;
  padding:8px;
  float:right;
  width:30%;
}

#items li {
  border:4px solid #f5f5ff;
  background:#fff;
  padding:8px;
  margin:4px 0;
}

div.avatar .name {
  padding-top:2px;
}

#items ul {
  list-style: none;
}

#history {
  list-style: none;
  font-size: smaller;
  padding-left: 0;
}